* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul,ol,li {
    list-style-type: none;
}

a {
  text-decoration: none;
}
.horizontal {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
}
.horizontal ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    background-color: #BBAA99;
    padding: 6px 14px;
    border: #6F5F48 solid 2px;
    width: 100%;
}
.horizontal li {
    margin-left: 40px;
}

.horizontal a {
    font-size: 22px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-decoration: none; 
    color:#6F5F48;     
    font-weight: bold;
}
.buscador-form {
    display: flex;
    justify-content:flex-end;
    gap: 5px;
    margin-top: 20px;
    margin-right: 10px;
    float: right;

}

.buscador-input{
    padding: 5px;
    border: 2px solid #6F5F48;
    border-radius: 4px;
    color: #6F5F48;
    width: 300px;
    height: 30px;
}

.buscador-boton{
    padding: 5px 10px;
    background-color: #6F5F48;
    color: white;
    border: 2px solid #6F5F48;
    border-radius: 4px;
}

.aleatorio img{
    width: 220px;
}

.layout{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
}

.vertical{
    width: 220px;
}

.vertical ul{
    display: block;
    width: 100%;
   background-color:#BBAA99;
   padding: 30px;
   margin-left: 2px;
   border: 2px solid #6F5F48;
   text-align: center;
   margin-top: 30px;
}

.vertical a{
    font-size: 17px;
      font-family:Georgia, 'Times New Roman', Times, serif;
    text-decoration: none; 
    color:#6F5F48;     
      font-weight: bold;
      line-height: 2.5;
}

.logo{
    display: block;
    margin: 0 auto;
    width: 450px;
    height: auto;
}

footer {
    padding: 20px 0;
}

footer ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    background-color:#BBAA99;
    font-size: 16px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color:#6F5F48;
    font-weight: bold;
    border: 2px solid #6F5F48;
    box-sizing: border-box;
    height: 80px;
}

.secciones-productos {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 40px;
    padding: 20px 20px;
}

.producto {
    text-align: center;
    padding: 30px;
    line-height: 25px;
}

.producto a{
    display: inline-block;
    margin-top: 8px;
    padding: 8px 20px;
    background-color:#BBAA99;
    color: #6F5F48;
    font-weight: bold;
}

.secciones-productos h2{
    text-align: center;
    color: #6F5F48;
}

.imagen {
    height: 200px;
    width: 200px;
    object-fit: contain;
}

.mas-vendidos {
    display: block
}
