* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul,ol,li {
    list-style-type: none;
}

body {
    background-color: #fcf5ec;
}

a {
  text-decoration: none;
}

.horizontal {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
}

.horizontal ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    background-color: #BBAA99;
    padding: 6px 14px;
    border: #6F5F48 solid 2px;
    width: 100%;
}

.horizontal li {
    margin-left: 40px;
}

.horizontal a {
    font-size: 22px;
    font-family:Georgia, 'Times New Roman', Times, serif; 
    color:#6F5F48;     
    font-weight: bold;
}
.buscador-form {
    display: flex;
    justify-content:flex-end;
    gap: 5px;
    margin-top: 20px;
    margin-right: 10px;
}

.buscador-input{
    padding: 5px;
    border: 2px solid #6F5F48;
    border-radius: 4px;
    color: #6F5F48;
    width: 300px;
    height: 30px;
}

.buscador-boton{
    padding: 5px 10px;
    background-color: #6F5F48;
    color: white;
    border: 2px solid #6F5F48;
    border-radius: 4px;
}

.aleatorio img{
    width: 220px;
}

.layout{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
}

.vertical{
    width: 220px;
}

.vertical ul{
    display: block;
    background-color:#BBAA99;
    padding: 30px;
    margin-left: 2px;
    border: 2px solid #6F5F48;
    text-align: center;
    margin-top: 20px;
}

.vertical a{
    font-size: 17px;
    font-family:Georgia, 'Times New Roman', Times, serif; 
    color:#6F5F48;     
    font-weight: bold;
    line-height: 70px;
}

.logo{
    display: block;
    margin: 0 auto;
    width: 500px;
    height: auto;
}

.logo-contenedor {
    background-color: white;
}

footer {
    padding: 20px 0;
}

footer ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    background-color:#BBAA99;
    font-size: 16px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color:#6F5F48;
    font-weight: bold;
    border: 2px solid #6F5F48;
    height: 80px;
}

.secciones-productos {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 80px;
    padding: 20px 50px;
}

.producto {
    text-align: center;
    padding: 30px;
    line-height: 25px;
    background-color: white;
    border: 2px solid #BBAA99;
    margin-bottom: 20px;
    width: 100%;
    height: 400px;
}

.producto a{
    display: inline-block;
    margin-top: 8px;
    padding: 8px 20px;
    background-color:#BBAA99;
    color: #6F5F48;
    font-weight: bold;
}

.secciones-productos h2{
    background-color: #BBAA99;
    padding: 8px 20px;
    border: 2px solid #6F5F48;
    color: #6F5F48;
    text-align: center;
    margin-bottom: 20px;
}

.imagen {
    height: 200px;
    width: 220px;
    object-fit: contain;
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 20px;
    flex: 1;
}
.login form {
    display: flex;
    flex-direction: column;
    color:#6F5F48;
    border: 2px solid #6F5F48;
    padding: 40px;
    gap: 15px;
    width: 450px;
    background-color: white;
}

.login form h2 {
    text-align: center;
}

.login form a{
    display: inline-block;
    padding: 8px 20px;
    color: #6F5F48;
    text-align: center;
}
.login form button {
    display: inline-block;
    margin-top: 8px;
    padding: 8px 20px;
    background-color:#BBAA99;
    color: #6F5F48;
    font-weight: bold;
}
.register {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 20px;
    flex: 1;
}
.register form a{
    display: inline-block;
    padding: 8px 20px;
    color: #6F5F48;
    text-align: center;
}
.register form button {
    display: inline-block;
    margin-top: 8px;
    padding: 8px 20px;
    background-color:#BBAA99;
    color: #6F5F48;
    font-weight: bold;
}
.register form h2 {
    text-align: center;
}
.register form {
    display: flex;
    flex-direction: column;
    color:#6F5F48;
    border: 2px solid #6F5F48;
    padding: 40px;
    gap: 15px;
    width: 450px;
    background-color: white;
}
.mascarilla {
    padding: 20px 70px;
    text-align: center;
}

.mascarilla img {
    width: 700px;
    background-color: white;
    border: 2px solid #BBAA99;
    padding: 20px;
}
.mascarilla .precio {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    font-weight: bold;
    color: #6F5F48;
    margin-top: 40px;
}
.mascarilla .descripcion {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 22px;
    color: #6F5F48;
    max-width: 800px;
    margin: 20px auto 0;
}

.mascarilla h2 {
    font-size: 40px;
    background-color: #6F5F48;
    color: azure;
    font-weight: normal;
    padding: 5px;
    border: #BBAA99 solid 2px;
    text-align: center;
    margin-bottom: 20px;
}
.mascarilla h3{
    font-size: 25px;
    margin: 20px;
    color: #6F5F48;
}
.mascarilla h4 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 27px;
    margin: 8px;
    margin-top: 100px;
    background-color:#BBAA99;
    border: #6F5F48 solid 2px;
    color:#6F5F48;
    padding: 5px ;
}
.mascarilla h5 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 22px;
    margin: 8px;
    color:#6F5F48;

}
.mascarilla ul {
    display: flex;
    justify-content: center;
    gap: 180px;
    margin-top: 60px;
   
}
.mascarilla li{
    border: #6F5F48 dotted 2px;
    padding: 25px 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    background-color: #6F5F48;
    color: azure;
}
.limpieza h2{
    background-color: #BBAA99;
    padding: 6px 14px;
    border: #6F5F48 solid 2px;
    color: #6F5F48;
    text-align: center;
    margin-bottom: 20px; 
}

.hidratacion h2 {
    background-color: #BBAA99;
    padding: 6px 14px;
    border: #6F5F48 solid 2px;
    color: #6F5F48;
    text-align: center;
    margin-bottom: 20px;
}

.tratamiento h2 {
    background-color: #BBAA99;
    padding: 6px 14px;
    border: #6F5F48 solid 2px;
    color: #6F5F48;
    text-align: center;
    margin-bottom: 20px;
}

.mascarillas h2 {
    background-color: #BBAA99;
    padding: 6px 14px;
    border: #6F5F48 solid 2px;
    color: #6F5F48;
    text-align: center;
    margin-bottom: 20px;
}

.categoria {
    width: 100%;
    padding: 0 30px;
}

.titulo-categoria {
    font-size: 40px;
    background-color: #6F5F48;
    color: azure;
    font-weight: normal;
    padding: 5px;
    border: #BBAA99 solid 2px;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.contenido {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.resenas {
    padding: 0 70px 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 10px;
}

.resenas article {
    background-color: #6F5F48;
    padding: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: azure;
    margin-top: 30px;
}

.resenas span {
    font-weight: bold;
    margin-right: 15px;
}

.resenas .rating {
    margin: 8px 0;
    font-size: 20px;
}
.resenas h4 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 27px;
    margin: 8px;
    margin-top: 10px;
    background-color:#BBAA99;
    border: #6F5F48 solid 2px;
    color:#6F5F48;
    padding: 5px ;
    text-align: center;
}




